<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/fragments/header :: head"></div>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="admin/fragments/header :: navbar"></div>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div th:replace="admin/fragments/header :: userbar"></div>

                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">[[ #{admin.adminViewItemGroups.allItems} ]]</h3>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col pb-3">
                            <a class="btn btn-primary" role="button" th:href="@{/admin/add-item-group}">[[ #{admin.adminViewItemGroups.addGroup} ]]</a>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4 text-right">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#filter">[[ #{admin.adminInquiries.filter} ]]</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table id="respo-table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>[[ #{admin.adminViewItemGroups.ID} ]]</th>
                                        <th>[[ #{admin.adminViewItemGroups.name} ]]</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="itemGroup: ${itemGroupPage.content}">
                                        <td th:d-title="#{admin.adminViewItemGroups.ID}" th:text="${itemGroup.groupId}"></td>
                                        <td th:d-title="#{admin.adminViewItemGroups.Name}" th:text="${itemGroup.groupName}"></td>
                                        <td th:d-title="#{admin.adminViewItemGroups.action}"><a th:href="@{/admin/edit-item-group/__${itemGroup.groupId}__}">[[ #{admin.generic.edit} ]]</a></td>
                                        <td th:d-title="#{admin.adminViewItemGroups.action}"><a th:href="@{/admin/delete-item-group/__${itemGroup.groupId}__}">[[ #{admin.generic.delete} ]]</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <nav th:if="${itemGroupPage.totalPages > 1}">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/view-item-groups(size=${itemGroupPage.size}, page=1)}" aria-label="First"><span aria-hidden="true">«</span></a>
                                    </li>

                                    <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                        th:if="${pageNumber == itemGroupPage.number + 1 || (pageNumber >= itemGroupPage.number - (1 + ( (itemGroupPage.number > itemGroupPage.totalPages - 3) ? (3 + itemGroupPage.number - itemGroupPage.totalPages) : 0 )) && pageNumber <= itemGroupPage.number + (3 + (itemGroupPage.number < 2 ? (2 - itemGroupPage.number) : 0 )) )}"
                                        th:classappend="${pageNumber == itemGroupPage.number + 1} ? active">
                                        <a class="page-link" th:href="@{/admin/view-item-groups(size=${itemGroupPage.size}, page=${pageNumber})}" th:text=${pageNumber}></a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/view-item-groups(size=${itemGroupPage.size}, page=${itemGroupPage.totalPages})}" aria-label="Last"><span aria-hidden="true">»</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" role="dialog" tabindex="-1" id="filter">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/admin/view-item-groups-filter}" method="post" th:object="${itemGroupFilterDto}">
                            <div class="modal-header">
                                <h4 class="modal-title">[[ #{admin.adminInquiries.filterBy} ]]</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <div th:if="${#fields.hasAnyErrors()}" class="card card-error">
                                    <div class="card-body">
                                        <h4 class="card-title"><strong>[[ #{admin.generic.error} ]]</strong></h4>
                                        <p class="card-text" th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
                                    </div>
                                </div>

                                <p>[[ #{admin.generic.filter-text} ]]</p>

                                <div class="form-group">
                                    <label>[[ #{admin.adminInquiries.groupName} ]]</label>
                                    <input th:field="*{groupName}" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">[[ #{admin.adminInquiries.filter} ]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div th:replace="admin/fragments/footer :: footer"></div>

        </div>
    </div>
    <div th:replace="admin/fragments/footer :: javascript"></div>
</body>

</html>