<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/fragments/header :: head"></div>

<body id="page-top">
    <div id="wrapper">
        <div th:replace="admin/fragments/header :: navbar"></div>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div th:replace="admin/fragments/header :: userbar"></div>

                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">[[ #{admin.adminInquiries.allInquiries} ]]</h3>
                    </div>

                    <div class="row">
                        <div class="col text-right mb-3">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#filter">[[ #{admin.adminInquiries.filter} ]]</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table id="respo-table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>[[ #{admin.adminInquiries.ID} ]]</th>
                                        <th>[[ #{admin.adminInquiries.User} ]]</th>
                                        <th>[[ #{admin.adminInquiries.status} ]]</th>
                                        <th>[[ #{admin.adminInquiries.period} ]]</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="inquiry: ${inquiryPage.content}">
                                        <td th:d-title="#{admin.adminInquries.ID}" th:text="${inquiry.inqId}"></td>
                                        <td th:d-title="#{admin.adminInquries.User}">[[ ${inquiry.inquiryUser.name} ]] [[ ${inquiry.inquiryUser.surname} ]]</td>
                                        <td th:d-title="#{admin.adminInquries.status}" th:text="#{'enumInquiryStatus.' + ${inquiry.inquiryStatus}}"></td>
                                        <td th:d-title="#{admin.adminInquries.period}">[[ ${#temporals.format(inquiry.dateFrom, 'dd-MM-yyyy HH:mm')} ]] - [[ ${#temporals.format(inquiry.dateTo, 'dd-MM-yyyy HH:mm')} ]]</td>
                                        <td th:d-title="#{admin.adminInquries.action}"><a th:href="@{/admin/edit-inquiry/__${inquiry.inqId}__}">[[ #{admin.generic.edit} ]]</a></td>
                                        <td th:d-title="#{admin.adminInquries.action}"><a th:href="@{/admin/delete-inquiry/__${inquiry.inqId}__}">[[ #{admin.generic.delete} ]]</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-end">
                            <nav th:if="${inquiryPage.totalPages > 1}">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/view-inquiries(size=${inquiryPage.size}, page=1)}" aria-label="First"><span aria-hidden="true">«</span></a>
                                    </li>

                                    <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                        th:if="${pageNumber == inquiryPage.number + 1 || (pageNumber >= inquiryPage.number - (1 + ( (inquiryPage.number > inquiryPage.totalPages - 3) ? (3 + inquiryPage.number - inquiryPage.totalPages) : 0 )) && pageNumber <= inquiryPage.number + (3 + (inquiryPage.number < 2 ? (2 - inquiryPage.number) : 0 )) )}"
                                        th:classappend="${pageNumber == inquiryPage.number + 1} ? active">
                                        <a class="page-link" th:href="@{/admin/view-inquiries(size=${inquiryPage.size}, page=${pageNumber})}" th:text=${pageNumber}></a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/admin/view-inquiries(size=${inquiryPage.size}, page=${inquiryPage.totalPages})}" aria-label="Last"><span aria-hidden="true">»</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" role="dialog" tabindex="-1" id="filter">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/admin/view-inquiries-filter}" method="post" th:object="${inquiryFilterDto}">
                            <div class="modal-header">
                                <h4 class="modal-title">[[ #{admin.adminInquiries.filterBy} ]]</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <div th:if="${#fields.hasAnyErrors()}" class="card card-error">
                                    <div class="card-body">
                                        <h4 class="card-title"><strong>[[ #{admin.generic.error} ]]</strong></h4>
                                        <p class="card-text" th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
                                    </div>
                                </div>

                                <p>[[ #{admin.generic.filter-text} ]]</p>

                                <div class="form-group">
                                    <label>[[ #{admin.adminInquiries.UserID} ]]</label>
                                    <input th:field="*{userID}" class="form-control" type="text">
                                </div>

                                <div class="form-group">
                                    <label>[[ #{admin.adminInquiries.status} ]]</label>
                                    <select th:field="*{inquiryStatus}" class="form-control">
                                        <option th:value="all">[[ #{admin.adminInquiries.all} ]]</option>
                                        <option th:each="enumType : ${T(lv.venta.enums.InquiryStatus).values()}" th:value="${enumType}" th:text="#{'enumInquiryStatus.' + ${enumType}}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">[[ #{admin.adminInquiries.filter} ]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div th:replace="admin/fragments/footer :: footer"></div>

        </div>
    </div>
    <div th:replace="admin/fragments/footer :: javascript"></div>
</body>

</html>